/* Overall Style */

body {
    background-color: #ffffff;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    color: #303030;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    padding: 2rem 3rem 2rem 3rem;
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(64,64,64);
    background-color: rgb(80,80,80);
    color: white;
  }

/*All Devices*/
/* Layout */
header {
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}  

#banner {
    background-image: url(../images/tube_banner_compressed.jpg);
    background-size: cover;
    background-position: bottom center;
    height:500px;
    width: 100%;
}


div.cover-title{
    flex: auto;
}

#banner .cover-title h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 0.1rem solid white;
  position: relative;
  top: 150px;
  width: 400px;
  margin: 0 auto;
  padding: 12px 3px;
  font-size: 3.1rem;
  line-height: 3.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}


main {
    position: relative;
    top: 4rem;
}


/* Text styles */
h1 {
  font-family: 'Roboto';
  color: white;
  font-size: 2rem;
  line-height: 2rem;
}
  
h2 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 2rem;
  line-height: 1.4rem;
  color: black;
  font-weight: bold;
  letter-spacing: 0.06rem;
}

h3 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.35rem;
  color: black;
}

h4 {
  font-family: 'Open Sans' 'sans-serif';
  font-size: 1.35rem;
  color: black;
}

h5 {
  font-family: 'Open Sans' 'sans-serif';
  font-weight: bold;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  margin: auto;
}

.info p{
  padding-top:0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.bold {
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.light {
  font-weight: lighter;
  letter-spacing: 0.01rem;
}


a {
  text-decoration: none;
  color: #303030;
  line-height: 1rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1rem;
}

span.light {
  margin-left: 0.2rem;
}

hr {
  display: flex;
  height: 0.05rem;
  border: 0;
  border-top: 0.15rem solid rgb(201, 30, 178);
  min-width: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr2 {
  display: flex;
  border-top: 0.08rem solid rgb(102,102,102);
  margin-top: 1.2rem;
}


#introdiv {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  text-decoration: none;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
  align-items: stretch;
}


#educationdiv {
  text-align:left;
  text-decoration: none;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: start;
  align-items: stretch;
}

.edu-parentdiv {
  text-decoration: none;
  flex: 0 1 400px;
  justify-content: space-between;
}

.edu-parentdiv h4.titles {
  color: rgb(0,0,0);  
}



ul.education {
  list-style-type: none;
  display:inline-block;
}


ul.education li {
  position: relative;
  padding: 0px 4px 4px 3px;
}

ul.education li .description p {
  margin: 0;
}


ul.education li .description p.institution {
  color: rgb(112,112,112);
}


li.edu {
  margin: 0 0 10px 0;
}


li.edu:last-child {
  margin-bottom: 1.2rem;
} 

p.course {
  padding-bottom: 0.3rem;
}


#introdiv img {
  border: 2px solid rgb(87, 12, 77);
  border-radius: 6px;
  width: 350px;
  height: auto;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}

.parentdiv {
  max-width: 100%;
  text-decoration: none;
  flex: 0 1 500px;
  justify-content:space-between;
}

p.content {
  color: black;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 0.5rem;
  padding: 0rem 2.2rem;
}

p.about-content {
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  margin-bottom: 1.5rem;
}

h3.titles {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  margin: 0.2rem;
}


h4.titles {
  line-height: 1.5rem;
  font-weight: bold;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: auto;
}

h4.date {
  font-style:italic;
  padding-top: 0.7rem;
  padding-bottom: 1.7rem;
  margin: auto;
  font-size:1.1rem;

}

i {
  font-style: italic;
}


/* Button for Index */

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  background-color: rgb(87, 12, 77);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 20px 0px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
}

/* effect-1 styles */

.effect.effect-1 {
  transition: all 0.2s linear 0s;}
  
.effect.effect-1:before {
  content: "\f178";
  font-family: 'FontAwesome';
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}
  
.effect.effect-1:hover {
  text-indent: -20px; 
}
    
.effect.effect-1:hover.effect.effect-1:before {
  opacity: 1;
  text-indent: 0px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(87, 12, 77);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: none; 
  color: #FFFFFF;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;

}

.button .btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button .btn:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover .btn {
  padding-right: 25px;
}

.button:hover .btn:after {
  opacity: 1;
  right: 0;
}

#underlined a { color: #666;display:inline-block; margin-bottom:0;}
#underlined a:after {
  display:block;
  content: '';
  border-bottom: solid 2px rgb(201, 30, 178); 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

#underlined a:hover:after { transform: scaleX(1); }


.about-content a {
  cursor: pointer;
  text-decoration: none;
}

.about-content a:link {
  color: rgb(2, 103, 170);
}

.about-content a:visited {
  color: rgb(87, 12, 77);
}

.about-content a:hover { 
  text-decoration: underline;
  color:rgb(201, 30, 178);
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.images-mech{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom:2rem;
  
}

img.chem-structure1{
  width:18rem;
  margin:0.2rem 1rem 1rem 1rem;
}

img.chem-structure2{
  width:25rem;
  margin-bottom: 1.5rem;
}

img.chem-mech {
  width: 85%;
}



/* Sections */

/* 1: Cover */
.cover {
  background-color: #d8d8d8;
  width: 100%;
  display: flex;
}

/* 2: Introduction */



/* Footer */


footer .links a {
  margin-right: 2rem;
  font-size: 1.35rem;
  color: white;
}

footer .links a:last-child {
  margin-right:1rem;
}


footer .links a.youtube:hover{
  color: rgb(255,0,0);
}

footer .links a.twitter:hover{
  color: rgb(29,161,242);
}

footer .links a.linkedin:hover{
  color: rgb(40,103,178);
}

footer p{
  font-size: 0.9rem;
  color: white;
}

#googleform {
  text-align: center;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.info {
  border-top: 1.5px solid rgb(87, 12, 77);
  border-bottom: 1px solid rgb(87, 12, 77);
  padding:1rem;
}

div.container {
  border-bottom: 1px solid rgb(87, 12, 77);
}


.container {
  position: relative;
  width: 100%;
}

.image-opacity {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle-opacity {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:green;
}

.container:hover .image-opacity {
  opacity: 0.2;
}

.container:hover .middle-opacity {
  opacity: 0.8;
}

.icon {
  color: red;
  font-size: 50px;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* News cards */

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 3rem;

}


.news-card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.news-card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.news-card .thumb-articles{
  padding: 1.2rem 1.2rem 0rem 1.2rem;
}

.news-card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.news-card article {
  padding: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-card h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 1.2rem;
  color: #333;
}

.news-card p { 
  flex: 1;
  line-height: 1.4;
}

.news-card p2 { 
  flex: 1;
  line-height: 1.4;
}

.news-card span {
  font-size: 1rem;
  font-weight: lighter;
  color: #999;
  text-transform: uppercase;
  margin: 2em 0 0 0;
}

sup {
  font-size: 0.6rem;
  vertical-align:super;
}

sup2 {
  font-size: 0.9rem;
  vertical-align:super;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0 0.8em 0;
  padding: 0.35em 0px 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -16px;
  top: -20px;
  color: #7a7a7a;
}
  
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
   
blockquote cite:before {
  content: "\2014 \2009";
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}


/* Desktop */
@media only screen and (min-width: 599px) {

  .mobile {
    display: none;
  }

 
  /* Header */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #logo-desktop {
    height: 4rem;
    margin-left: 3rem;
    margin-right:0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
  }

  nav {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3rem;
  }

  li {
    margin-left: 1rem;
    font-size: 1rem;
  }


  /* Footer */
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }



  /* Sections */
  /* Cover */
  .cover h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .intro-title {
    margin: 5rem auto 1.7rem auto;
    text-align:center;
  }
  
  #aboutdiv {
    text-align: left;
    padding: 0.4rem 3rem;
  }

  .thumbnails .card {
    transition: transform 1s;
  }
  
  .thumbnails .card:hover {
    transform: translateY(-10px);
  }

  /* News */

  .band {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
  } 
}

  

/* Mobile */
@media only screen and (max-width: 599px) {
  .desktop {
    display: none;
  }

  #banner {
    height:350px;
    width: 100%;
  }

  #logo-mobile {
    height: 4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0.7rem;
    margin-left: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
  }

  #banner .cover-title h1  {
    top: 100px;
    font-size: 2.7rem;
    width: 80%;
  }

  #introdiv img {
    width: 80%;
    height: auto;
  }

  
  /* Text styles */

  .cover h1 {
    line-height: 2.7rem;
  }

  h2 {
    line-height: 1.9rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
  }

  .news-card h2 {
    font-size: 20px;
    margin: 0;
    padding: 0rem 0rem 1.2rem 0rem;
    color: #333;
  }

  /* Header */
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5rem;
    width: 100%;
    justify-content: flex-end;
  }

  nav.mobile {
    margin-left: 0.2rem;
    margin-right: 0.1rem;
  }

  li {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  span.light {
    margin-left: 0rem;
  }

  img.chem-structure1{
    width:80%;
    margin:0.2rem 0rem 1.5rem 0rem;
  }
  
  img.chem-structure2{
    width:100%;
    margin-bottom: 1.5rem;
  }

  img.chem-mech {
    width: 60%;
  }

  /* Footer */
  footer {
    justify-content: space-between;
    padding: 1.3rem 1.1rem 1.1rem 1.3rem;
  }

  /* Sections */
  /* Cover */
  .cover {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .intro-title {
    margin: 3rem auto 1.5rem auto;
    text-align:center;
  }

  #aboutdiv {
    text-align: left;
    padding: 0.4rem 1.1rem;
  }

  footer .links a {
    margin-right: 1.8rem;
    font-size: 1.2rem;
    color: white;
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
  }


a.redpen:hover{
    color: rgb(255,0,0);
  }
  
}

@media only screen and (max-width: 360px) {

  li {
    margin-right: 0.7rem;
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 325px) {

  li {
    margin-right: 0.55rem;
    font-size: 1.2rem;
  }

}